@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
body{
    background-color: rgb(253, 253, 253);
    
}
.section{
    max-width:1440px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}
.header{
    width:100%;
    margin:0 auto;
    background-color: #232536;
    display:flex;
    padding:10px 25px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.width100{
    display: flex;
    flex-direction: column;
    gap:40px;
}
.logo{
    height:28px;
}
.nav{
    display:flex;
    gap:24px;
    color:white;
    font-family: 'Sen', sans-serif;
    align-items: center;

}

.subscribe{
    width:179px;
    height:59px;
    background-color: white;
    color:#232536;
    text-align: center;
    line-height: 59px;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    
}
.hero-pos{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    justify-content: center;
    width:100%;
    position: relative;
    
    
}
.hero{
    width:100%;
    background-color: rgb(131, 156, 140);
}
.hero-pos-text{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Sen', sans-serif;
    position: absolute;
    gap:20px;
    padding-left:40px;
    margin-bottom:50px;
}

.hero-text{
font-family: 'Sen', sans-serif;
color:white;

}
.startup{
    font-size: 16px;
    font-weight: 900;
    color:rgb(255, 255, 255);
}
.hero-text:nth-child(2){
    font-weight: 700;
    font-size: 56px;
    max-width:900px;
}
.james{
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #FFD050;
}
.hero-text:nth-child(4){
    max-width:900px;
}
.readmore{
width: 204px;
height:56px;
background-color: #FFD050;
text-align: center;
line-height: 56px;

}

@media(max-width:900px){
    .section{
        width:100%;
    }
    .header{
        width:100%;
        justify-content: center;
       
    }
    
    .nav{
       display:none;
    
    }
    .hero{
        width:100%;
        background-color: red;
    }
    .hero-pos{
        display: flex;
        flex-direction: column;
        margin:0 auto;
        justify-content: center;
        width:100%;
        box-sizing: border-box;
        position: relative;
    }
    .hero-pos-text{
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom:0;
        max-width:400px;
        gap:30px;
    }
    .max-width900{
        display: flex;
        flex-direction:column;
        gap:30px;
    }
    .hero-text:nth-child(2){
        font-size: 30px;
        max-width:400px;
    }

    .hero-text:nth-child(4){
        max-width:400px;
    }

}
@media(max-width:700px){
    .section{
        width:100%;
    }
    .header{
        width:100%;
        justify-content: center;
       
       
    }
    
    .nav{
       display:none;
    
    }
    .hero-pos{
        display: flex;
        flex-direction: column;
        margin:0 auto;
        justify-content: center;
        width:100%;
        box-sizing: border-box;
        position: relative;
    }
    .hero-pos-text{
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom:0;
    }
    
    .hero-text:nth-child(2){
        font-size: 20px;
        max-width:400px;
    }

    .hero-text:nth-child(4){
        max-width:400px;
    }
    .hero-pos-text{
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom:0;
    }
    
    .max-width600{
        display: flex;
        max-width:450px;
        padding-left:35px;
        gap:10px;
    }
 
    .readmore{
        width: 200px;
        height:56px;
        background-color: #FFD050;
        text-align: center;
        line-height: 56px;
        
        }
        .max-width610{
            font-size: 11px;
            max-width:200px;
        }
}

.box{
    max-width:1280px;
    width:100%;
    display: flex;
    margin:10px auto;
}
.box-inside{
    max-width:730px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
}

.box-img{
max-width:100%;
}
.box-text{
font-family: 'Sen';
font-weight: 700;
font-size: 36px;
color: #232536;
}
.box-text:nth-child(3){
font-family: 'Inter';
font-weight: 500;
font-size: 14px;
color: #4C4C4C;
}
.jhon{
font-family: 'Inter';
font-weight: 500;
font-size: 14px;
color: #592EA9;
}
.box-text:nth-child(4){
font-weight: 700;
font-size: 28px;
color: #232536;
}
.box-text:nth-child(5){
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    }

    .box-text1{
        font-family: 'Inter';
        font-weight: 500;
        font-size: 14px;
        color: #4C4C4C;
        }

.box-inside1{
        display: flex;
        flex-direction: column;
        gap:20px;
        }

.box-level2-text{
font-weight: 700;
font-size: 24px;
max-width:370px;
color: #232536;
margin-top:10px;
padding:20px;
}
.box-level2:nth-child(3){
    background-color: #FBF6EA;
    padding:20px;
    box-sizing: border-box;
}
@media(max-width:900px){
    .box{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
    
    .box-img{
        width:100%;
    }
    .box-inside1{
            width:80%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            

            }
    
    .box-level2-text{
    width:100%;
    }
    .box-text:nth-child(4){
        max-width:450px;
         }
    .box-text:nth-child(5){
       max-width:450px;
        }


}

@media(max-width:700px){
    .box{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
    
    .box-img{
        width:100%;
    }
    .box-inside1{
            width:80%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            

            }
    
    .box-level2-text{
    width:100%;
    }
    .box-text:nth-child(4){
        max-width:450px;
         }
         .box-text{
            margin-left:50px;
         }
         .max-width600{
           text-align: left;
         }
         .max-width600img{
            width:100%;
         }
       .readmore610{
         width:100%;
         display: flex;
         justify-content: center;
       }
    .box-text:nth-child(5){
       max-width:450px;
        }
}
.mid-box{
    display: flex;
    max-width:1280px;
    justify-content: space-between;
    margin-top:50px;
    background-color: #F4F0F8;
    padding:50px;
    box-sizing: border-box;
    gap:20px;
    position: relative;
}
.shape{
position:absolute;
display: flex;
margin-top:-65px;
margin-left:110px;
}
.shapepng{
    width:80%;
}
.shapepng:nth-child(2){
    width:20%;
}
@media(max-width:500px){
    .mid-box{
        position: relative;
    }
    .shape{
    position:absolute;
    display: flex;
    margin-top:-55px;
    
    }
}
@media(max-width:690px){
    .mid-box{
        position: relative;
    }
    .shape{
    position:absolute;
    display: flex;
    margin-top:-59px;
    
    }
}
.mid-box-left{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.mid-box-text{
    font-family: 'Sen';
font-weight: 700;
font-size: 36px;
color: #232536;
max-width:730px;
}
.mid-box-text:nth-child(3){
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: #4C4C4C;
}

.about{

font-weight: 600;
font-size: 16px;
color: #232536;
}

.mid-box-readmore{
font-weight: 700;
font-size: 18px;
color: #592EA9;
}

.mid-box-right{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.mid-box-bot{
    max-width:1280px;
    display: flex;
    flex-direction: column;
   
    margin-top:30px;
    gap:20px;
}
.centertext{
    text-align: center;
    max-width:1280px;
}
.mid-box-flex{
    display: flex;
    justify-content: space-between;
}

.mid-box-flex-box{
    display: flex;
    flex-direction: column;
    padding:30px;
    gap:20px;
    max-width:300px;
    border:1px solid rgb(207, 204, 204);
    box-sizing: border-box;
}
.shuttle{
    width:40px;
    height:40px;
}

.mid-box-flex-box:nth-child(2){
   background-color: #FFD050;
   border: 0;
}
.mid-box-text1{
font-family: 'Inter';
font-weight: 400;
font-size: 16px;
color: #6D6E76;
}
@media(max-width:900px){
    .mid-box-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .mid-box-flex-box{
        display: flex;
        flex-direction: column;
        max-width:1280px;
        
    }
}

.mid-box-3{
    max-width:1280px;
    display: flex;
    margin-top:30px;
    position: relative;
}
.image{
    position: absolute;
    
}
.image{
    width:60%;
    height:100%;
    object-fit: cover;
    
}
.mid-box-3-1{
    background-color: white;
    max-width: 700px;
    padding:50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:550px;
    

}
.mid-box-3-1-mshobel{
    
    width:100%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index:1;
    margin-top:80px;
}
.discover-our-story{
font-family: 'Sen';
font-weight: 700;
font-size: 18px;
color: #232536;
}

@media(max-width:900px){
    .mid-box-3{
        display: flex;
        flex-direction: column;
    }
    .mid-box-3-1{
       gap:20px;
    
    }
    .image{
   display: none;
    }
    .mid-box-3-1-mshobel{
        margin-top:0;
    }
}
.authors{
    display: flex;
    max-width:1280px;
    justify-content: space-between;
    gap:50px;
    margin:10px;
    
}
.miles{
    width: 300px;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding:20px;
    box-sizing: border-box;
}
.milesimg{
    width:128px;
    height:128px;
}

.milestext{
font-family: 'Sen';
font-weight: 700;
font-size: 28px;
color: #232536;
}
.content-text{
font-family: 'Inter';
font-weight: 400;
font-size: 14px;
color: #6D6E76;
}

.soc{
    width:100%;
}
.Lists-of-Authors{
font-family: 'Sen';
font-weight: 700;
font-size: 36px;
color: #232536;
margin:20px auto;
}
@media(max-width:900px){
    .authors{
        display: flex;
       flex-direction: column;
       align-items: center;
    }
}
.logoc{
    margin-top: 30px;
}
.logocomp{
    width:100%;
}
@media(max-width:900px){
    .logoc{
        width:100%;
    }
}